
.pageContent {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  min-height: fit-content;
  padding: 100px 0;
  font-size: 25;
}

.editor h1{
  margin-top: '0%';
  top: '0%'
}

svg {
  color: #3478F6;
}

.buttonBox {
  position: fixed;
  bottom:3%;
}
