.page-content {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 30px;
}

.page-content img{
  transform: translate(0, 20%);
}

.page-content img :hover{
  transform: translate(0, 40%);
  transform: scale(1.2);
}

.big-circle-container{
  width: 40%;
  height: 90%;
  float: right;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 5%;
}

.button-arrow {
  width: 40%;
  float: left;
  padding-left: 10%;
  position: absolute;
  bottom: 15%;
  display: flex;
  align-items: center;
}

.create-now {
  width: 30%;
  padding-right: 30px;
  cursor: pointer;
}

.bottom {
  height: 8%;
  width: 25%;
  float: left;
  padding-left: 5%;
  position: absolute;
  bottom: 2%;
  color: #F08331;
}

.logo {
  padding: 5%;
}

.scrollArrow {
  position: fixed;
  bottom: 2%;
  align-items: center;
  left: 50%;
  transform: translate(-50%, -50%);
}
