.appHeader {
  /* height: 10%; */
  background-color: #ffffff !important;
}

.header {
  /* background-color: #ffffff !important; */
  height: 60px ;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  z-index: 99;
  position: fixed;
  background-color: rgba(255,255,255, 0.4);
  backdrop-filter: blur(40px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.headerMain {
  width: 98%;
  display: flex;
  justify-content: space-between;
}

.headerLogo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.headerLogo img {
  padding-right: 10px;
}


.headerTitle {
  color: #18181f !important;
}


.mainMenu {
background-color: #ffffff !important;
color: #18181F !important;
}

.menuContainer {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menuItem{
  height: 100%;
  /* min-height: 70px; */
  width: 30%;
  color: rgb(66, 62, 62);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
}

.menuItemOn {
  height: 100%;
  /* min-height: 70px; */
  width: 30%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: transparent; */
  cursor: pointer;
  background: linear-gradient(to bottom, #F08331, transparent);
}

.menuItemOn div {
  width: 30px;
  height: 6px;
  margin-top: 4px;
  border-radius: 3px;
  background: #F08331;
}

.menuItem div {
  width: 30px;
  height: 2px;
  margin-top: 3px;
  border-radius: 1px;
  background: #522d11;
}

.menuItem:hover div {
  width: 30px;
  height: 6px;
  margin-top: 4px;
  border-radius: 3px;
  background: #F08331;
}


.menu-item:hover {
  color: white;
  background: linear-gradient(to bottom, #665f59, transparent);
}

.addressBlock {
  /* border-radius:16px; */
  text-align:center;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  /* padding: 2px 2px 5px 2px; */
  width: 138px;
  height: 30px;
  color: #ffffff;
  /* border: 2px solid #E1E3E7; */
  cursor: pointer;
}

.addressBlock img{
  float: right;
  padding: 8px;
}

.dropdownList {
  padding: 10px 4px 2px 14px; 
  width: 136px;
  min-height: 28px;
  border-radius:16px;
  border: 2px solid #E1E3E7;
  background: #3478F6;
}

.dropdownList ul {
  margin: 0px;
  padding: 0px;
}

.dropdownList li {
  list-style-type:none;
  height: 25px;
}

.dropdownList li:hover {
  list-style-type:none;
  height: 25px;
  color: #F08331;
}